*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:  10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
nav ul li a:hover{
    color: crimson;

}
.detail{
    margin-left: 8%;
    margin-top: 15%;
}
.detail h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}
span{
    color: orange;
}
.detail p{
    color: #555;
    line-height: 22px;
}
.detail a{
    background: #212121;
    padding: 10px 8px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display:  inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.img{
    width: 45%;
    height: 90%;
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 25%;
}
.img img{
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    transition: bottom 1s, left 1s;
}
.img:hover .photo{
    left: 45%;
}
/*----about-----*/
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: rgb(48, 47, 47);
}
.about-col-2 p{
    font-size: 200%;
    margin-top: 10%;
    color: orange;
}
/*----services-----*/
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: orange;
    transform: translateY(-10px);
}
